*
  // border: 1px solid #000
  font-family: '華康明體 std w7','蘋方-繁','微軟正黑體'
@media screen and (min-width: 800px)
  html,body
    width: 100%
    height: 100%
    margin: 0px
    background-color: #fff
    position: relative
  .index
    display: flex
    justify-content: center
  .page
    position: relative
    width: 100%
    max-width: 1024px
    height: 100%
  #header_index,#section_about,#section_login
    padding: 0px
    height: 56.25vw
    position: relative
  #bg_img
    position: absolute
    width: 77.768%
    max-width: 796.348px
    top: 47.851vw
    opacity: 0.1
  #logo
    position: absolute
    width: 37.5%
    max-width: 385px
    top: 12.695vw
    left: 50%
    transform: translateX(-50%)
  h2
    position: absolute
    font-family: jf-jinxuan
    font-weight: 600
    color: #333
    font-size: 4.492vw
    top: 38.28125vw
    left: 50%
    transform: translateX(-50%)
    white-space: nowrap
  h3
    position: absolute
    font-family: xingothic-tc
    font-weight: 700
    color: #333
    font-size: 22px
    top: 17vw
    left: 35vw
    white-space: nowrap
  h4
    position: absolute
    font-family: xingothic-tc
    font-weight: 500
    letter-spacing: 2px
    color: #333
    line-height: 22px
    font-size: 15px
    top: 22vw
    left: 35vw
    white-space: nowrap
  #serch
    position: absolute
    font-family: xingothic-tc
    font-weight: 700
    color: #333
    font-size: 17px
    top: 32vw
    left: 35vw
    white-space: nowrap
    border-bottom: 1px solid #333
    transition-duration: 0.5s
    &:hover
      letter-spacing: 5px
  .error
    position: absolute
    top: 12vw
    left: 22vw
    transform: translateX(-32.5%)
    font-family: xingothic-tc
    font-weight: 600
    font-size: 24px
    color: #ff6363
    opacity: 1
  #icon
    position: absolute
    width: 30.468%
    max-width: 312px
    top: 14.16vw
    left: 60vw
    transform: translateX(-50%)
    cursor: pointer
    transition-duration: 2s
    &:hover
      box-shadow: 2px 2px 8px #888
  h5,input
    margin: 0px
  .text
    position: absolute
    top: 14vw
    left: 22vw
    transform: translateX(-40%)
  h5
    margin-top: 20px
    margin-bottom: 10px
    font-size: 22px
    font-family: jf-jinxuan
  #enter
    font-size: 37px
  #p,#n
    height: 30px
    width: 80px
    font-size: 22px
    border: none
    border-bottom: 2px solid #333
    outline: none
    transition-duration: 2s
    &:focus
      width: 256px
@media screen and (max-width: 800px)
  html,body
    width: 100%
    height: 100%
    margin: 0px
    background-color: #fff
    position: relative
  .index
    display: flex
    justify-content: center
  .page
    position: relative
    width: 100%
    max-width: 1024px
    height: 100%
  #header_index,#section_about,#section_login
    padding: 0px
    height: 56.25vw
    position: relative
  #bg_img
    position: absolute
    width: 77.768%
    max-width: 796.348px
    top: 47.851vw
    opacity: 0.1
  #logo
    position: absolute
    width: 50vw
    max-width: 385px
    top: 12.695vw
    left: 50%
    transform: translateX(-50%)
  h2
    position: absolute
    font-family: jf-jinxuan
    font-weight: 600
    color: #333
    font-size: 7vw
    top: 38.28125vw
    left: 50%
    transform: translateX(-50%)
    white-space: nowrap
  h3
    position: absolute
    font-family: xingothic-tc
    font-weight: 700
    color: #333
    font-size: 4vw
    top: 10vw
    left: 50%
    transform: translateX(-50%)
    white-space: nowrap
  h4
    position: absolute
    font-family: xingothic-tc
    font-weight: 500
    letter-spacing: 0.4vw
    color: #333
    line-height: 4vw
    font-size: 3vw
    top: 22vw
    left: 50%
    transform: translateX(-50%)
    white-space: nowrap
  #serch
    position: absolute
    font-family: xingothic-tc
    font-weight: 700
    color: #333
    font-size: 4.5vw
    top: 39vw
    left: 50%
    transform: translateX(-50%)
    white-space: nowrap
    border-bottom: 1px solid #333
    transition-duration: 0.5s
    &:hover
      letter-spacing: 5px
  .error
    position: absolute
    top: 2vw
    left: 50%
    transform: translateX(-50%)
    font-family: xingothic-tc
    font-weight: 600
    font-size: 4.5vw
    color: #ff6363
    opacity: 1
    white-space: nowrap
  #icon
    position: absolute
    width: 30.468%
    max-width: 312px
    top: 19vw
    left: 75vw
    transform: translateX(-50%)
    cursor: pointer
    transition-duration: 2s
    &:hover
      box-shadow: 2px 2px 8px #888
  h5,input
    margin: 0px
  .text
    position: absolute
    top: 14vw
    left: 27.5vw
    transform: translateX(-40%)
  h5
    margin-top: 2.5vw
    margin-bottom: 1.25vw
    font-size: 3vw
    font-family: jf-jinxuan
  #enter
    font-size: 4.5vw
  #p,#n
    height: 3.75vw
    width: 10vw
    font-size: 2.5vw
    border: none
    border-bottom: 0.25vw solid #333
    outline: none
    transition-duration: 2s
    &:focus
      width: 32vw
