extends base.html

block styles
  link(rel='stylesheet' href='/static/css/thanks.css')

block content
  header
    .rectangle
      .card
        img#bg_img(src="http://54.64.122.237/founder/material/index_bg.png", alt="")
        img#logo(src="http://54.64.122.237/founder/material/logo.svg", alt="")
        img#thanks_letter(src="http://54.64.122.237/founder/material/thanks_letter.png", alt="")
        img#thanks_rot(src="http://54.64.122.237/founder/material/thanks_rot.png", alt="")
        img#thanks_news(src="http://54.64.122.237/founder/material/thanks_news.png", alt="")
        img#thanks_wel(src="http://54.64.122.237/founder/material/thanks_wel.png", alt="")
        img#thanks_taiwan(src="http://54.64.122.237/founder/material/thanks_taiwan.png", alt="")
        img#thanks_sol(src="http://54.64.122.237/founder/material/thanks_sol.png", alt="")
        img#thanks_feb28(src="http://54.64.122.237/founder/material/thanks_feb28.png", alt="")
        img#thanks_des(src="http://54.64.122.237/founder/material/thanks_des.png", alt="") 
        h2 感謝您
        h3 第五屆共生音樂節已經落幕，但記憶二二八卻還要繼續下去。
          br
          |今年已是二二八七十週年，實現轉型正義的路途卻依然漫長，
          br
          |離天光也依然遙遠，但由衷感謝每一位促使這段路途更加平穩
          br
          |的人們，相信走著走著，歷史的真相會日益明朗，我們也能在
          br
          |那裡看到光。
          br
          br
          |期許接下來的日子裡，二二八隨著時間，能在我們心裡刻得越
          br
          |來越深，而非被我們輕易忘記。繼續堅定往前，行欲行ê路，
          br
          |實現我們對天光的希冀。
